<div class="threeColLayout">
    <div class="three-col-wrapper">
        <div class="container">
            <div class="three-col">
                <div class="three-col--heading">
                    <h1 class="behr-pro-1 wc-title">{{ Header }}</h1>
                    <h6 class="behr-pro-6">{{ Subheader }}</h6>
                </div>
                <div class="three-col__block">
                    <behr-technical-data-sheets></behr-technical-data-sheets>
                </div>
                <div class="three-col__block">
                    <behr-safety-data-sheets></behr-safety-data-sheets>
                </div>
                <div class="three-col__block">
                    <behr-master-spec></behr-master-spec>
                </div>
            </div>
        </div>
    </div>
</div>