.comtainer {
    max-width: 1190px !important;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    transition: all 1s ease-in 0s;
}

.threeColLayout {
    position: relative;
}

.three-col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.three-col__block {
    flex: 0 1 calc(33%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}